h1 {
  color: violet;
}

h2 {
  color: indigo;
}

h3 {
  color: blue;
}

h4 {
  color: green;
}

h5 {
  color: yellow;
}

h6 {
  color: orange;
}

p {
  color: red;
}

.rainbow-text {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}
